<template>
  <div class="todo-list">
    <ul>
      <li v-for="item in todos" :key="item.id" @click="item.completed = !item.completed">
        <font-awesome-icon icon="ticket-alt" size="xs" />
        <div :class="{ completed: item.completed }">{{ item.title }}</div>
      </li>
    </ul>
    <pager v-if="items.length" v-model="pager" @changed="pagerChanged" />
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Pager from '@/common/components/Pager.vue';

@Component({
  components: {
    Pager,
  },
})
export default class TodoList extends Vue {
  @Prop() public readonly items;

  public pager = {
    total: 10,
    page: 1,
    perPage: 5,
  };

  public range = {
    from: 0,
    to: 0,
  };

  public pagerChanged(value) {
    this.range = value;
  }

  public get todos() {
    return this.items ? this.items.slice(this.range.from, this.range.to) : [];
  }

  public created() {
    this.pager.total = this.items.length;
    this.range.to = this.pager.perPage;
  }
}
</script>
<style lang="scss">
li {
  display: flex;
  align-items: center;
  .completed {
    text-decoration: line-through;
  }
  div {
    padding-left: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
</style>
