<template>
  <div>
    <v-wait for="loading list" class="loading-wrapper">
      <template slot="waiting">
        <div>
          Loading the list...
        </div>
      </template>
      <todo-list :items="todos" />
    </v-wait>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import TodoList from '../components/TodoList.vue';

@Component({
  components: {
    TodoList,
  },
})
export default class TodoTab extends Vue {
  @Getter('selected') public readonly selected;
  @Getter('todo/todos') public readonly todos;
  @Action('todo/setTodos') public setTodos;

  @Watch('selected', { deep: true, immediate: true })
  public async fetchTodos(to) {
    if (!this.todos.length || this.todos[0].userId !== to.id) {
      this.$wait.start('loading list');
      const data = await this.$todoService.loadTodos(to.id);
      this.setTodos(data.data);
      this.$wait.end('loading list');
    }
  }
}
</script>
