<template>
  <v-wait for="loading" class="loading-wrapper">
    <template slot="waiting">
      <div>
        Loading the list...
      </div>
    </template>
    <div>
      <todo-list :items="todos" />
    </div>
  </v-wait>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import TodoList from '../components/TodoList.vue';

@Component({
  components: {
    TodoList,
  },
})
export default class TodoPage extends Vue {
  @Action('todo/setTodos') public setTodos;
  @Getter('todo/todos') public readonly todos;
  public async mounted() {
    if (!this.todos.length && +this.$route.params.id) {
      this.$wait.start('loading');
      const data = await this.$todoService.loadTodos(+this.$route.params.id);
      this.setTodos(data.data);
      this.$wait.end('loading');
    }
  }
}
</script>
