<template>
  <v-wait>
    <template slot="waiting">
      <div>Loading the list...</div>
    </template>
    <div>
      <ul>
        <li v-for="row of params" :key="row">
          <div class="label">{{ $t(`modules.address.${row}`) }}</div>
          <div class="value">{{ item[row] | normalize }}</div>
        </li>
      </ul>
    </div>
  </v-wait>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';

@Component({
  filters: {
    normalize(value) {
      return typeof value === 'object' ? Object.values(value).join(', ') : value;
    },
  },
})
export default class AddressTab extends Vue {
  @Getter('selected') public readonly selected;
  public params = ['city', 'street', 'suite', 'zipcode', 'geo'];
  public get item() {
    return this.selected.address;
  }
}
</script>
<style lang="scss" scoped>
li {
  cursor: default;
}
</style>
