<template>
  <v-wait for="loading" class="main loading-wrapper">
    <template slot="waiting">
      <div>{{ $t('common.defaultLoader') }}</div>
    </template>
    <div class="list-data">
      <div class="list-header">{{ $t('common.headers.users') }}</div>
      <ul>
        <li v-for="user in items" :key="user.id" :class="{ selected: user.selected }" @click="selectUser(user.id)">
          <font-awesome-icon icon="user" size="xs" />
          <div>{{ user.name }}</div>
        </li>
      </ul>
      <pager v-if="users.length" v-model="pager" @changed="pagerChanged" />
    </div>
    <user-details v-if="selected" />
  </v-wait>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import UserDetails from './UserDetails.vue';
import Pager from '@/common/components/Pager.vue';

@Component({
  components: {
    Pager,
    UserDetails,
  },
})
export default class UserList extends Vue {
  @Getter('users') public readonly users;
  @Getter('selected') public readonly selected;
  @Action('setUsers') public readonly setUsers;
  @Action('selectUser') public readonly selectUser;

  public pager = {
    total: 10,
    page: 1,
    perPage: 5,
  };

  public range = {
    from: 0,
    to: 0,
  };

  public pagerChanged(value) {
    this.range = value;
  }

  public get items() {
    return this.users ? this.users.slice(this.range.from, this.range.to) : [];
  }

  public async created() {
    if (!this.users.length) {
      this.$wait.start('loading');
      const resp = await this.$api.loadUsers();
      if (resp.status === 200) {
        this.setUsers(resp.data);
      }
      this.$wait.end('loading');
    }
    this.pager.total = this.users.length;
    this.range.to = this.pager.perPage;
  }
}
</script>
<style lang="scss">
.loading-wrapper > span {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  width: auto;
}
.list-header {
  color: #2c3e50;
  border-bottom: 1px solid #fff;
  padding: 0 1.8rem;
  font-weight: bold;
}
.list-data {
  flex: auto;
}
ul {
  list-style: none;
  padding: 0 1.8rem;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.6rem 0.2rem;
    line-height: 25px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    overflow: hidden;
    &.selected {
      font-weight: bold;
    }
    div {
      padding-left: 0.4rem;
    }
  }
}
</style>
