<template>
  <div class="details">
    <nav class="list-header">
      <ul>
        <li
          v-for="module of detailModules"
          :key="module.name"
          :class="{ active: activeTab === module.name }"
          @click="activeTab = module.name"
        >
          {{ $t(`modules.${module.name.split('-')[0]}.tabName`) }}
          <router-link v-if="module.path" :to="`${module.path}/${selected.id}`">
            <font-awesome-icon icon="external-link-alt" size="xs" />
          </router-link>
        </li>
      </ul>
      <span>{{ selected.name }}</span>
    </nav>
    <component :is="activeTab" :id="selected.id" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';

@Component
export default class UserDetails extends Vue {
  @Getter('detailModules') public readonly detailModules;
  @Getter('selected') public readonly selected;

  public activeTab = '';

  public async mounted() {
    this.activeTab = (await this.detailModules[0].name) || null;
  }
}
</script>
<style lang="scss" scoped>
.details {
  min-width: 40%;
  margin-top: -27px;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      padding: 0.5rem;
      margin: 0.2rem;
      border-bottom: none;
      font-weight: bold;
      text-decoration: underline;
      &.active {
        color: #42b983;
      }
      a {
        margin: 0 0.4rem;
      }
    }
  }
}
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
