<template>
  <div class="navbar">
    <router-link to="/">{{ $t('common.menu.home') }}</router-link> |
    <router-link to="/about">{{ $t('common.menu.about') }}</router-link>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Navbar extends Vue {}
</script>
<style lang="scss">
.navbar {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
