<template>
  <div class="list-pager">
    <span>{{ $t(`common.pager.stat`, { total, from, to }) }}</span>
    <ul>
      <li :disabled="page === 1" @click="page = 1"><font-awesome-icon icon="angle-double-left" size="xs" /></li>
      <li :disabled="page === 1" @click="page--"><font-awesome-icon icon="angle-left" size="xs" /></li>
      <li>
        <span>{{ page }}</span>
      </li>
      <li :disabled="page === lastPage" @click="page++"><font-awesome-icon icon="angle-right" size="xs" /></li>
      <li :disabled="page === lastPage" @click="page = lastPage"><font-awesome-icon icon="angle-double-right" size="xs" /></li>
    </ul>
  </div>
</template>
<script lang="ts">
import { Component, Model, Vue, Watch } from 'vue-property-decorator';
interface IPagerOptions {
  total: number;
  page: number;
  perPage: number;
}

@Component
export default class Pager extends Vue {
  @Model('change', {
    type: Object,
  })
  public readonly options!: IPagerOptions;

  public get lastPage() {
    return Math.ceil(this.total / this.perPage);
  }

  public get total() {
    return this.options.total;
  }
  public get page() {
    return this.options.page;
  }
  public set page(value: number) {
    this.options.page = value;
  }
  public get perPage() {
    return this.options.perPage;
  }

  public get from() {
    return this.perPage * (this.page - 1) + 1;
  }
  public get to() {
    const to = this.from + this.perPage - 1;
    return to <= this.total ? to : this.total;
  }

  @Watch('options', { deep: true })
  public changeHandler() {
    this.$emit('changed', { from: this.from - 1, to: this.to });
  }
}
</script>
<style lang="scss" scoped>
.list-pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem;
  margin-top: 1.4rem;
  ul {
    display: flex;
    li {
      border-bottom: none;
      &[disabled] {
        opacity: 0.5;
        cursor: inherit;
        pointer-events: none;
      }
      > span {
        cursor: inherit;
      }
    }
  }
}
</style>
