<template>
  <div class="app">
    <Navbar />
    <router-view />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/common/components/Navbar.vue';
@Component({
  components: {
    Navbar,
  },
})
export default class AppComponent extends Vue {}
</script>
<style lang="scss" scoped>
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
